{% extends "bills/base.html" %}  

{% block title %}Mi Perfil{% endblock %} 

{% block content %} 
<!DOCTYPE html>  
<html lang="es">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Borrar Cuenta</title>  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">  
</head>
<body>
    <div class="container">
        <h2>¿Estás seguro de que deseas borrar tu cuenta?</h2>  
        <p>Esto no se puede deshacer.</p>  
        <form method="post">  
            {% csrf_token %}  
            <button type="submit" class="btn btn-danger">Borrar Cuenta</button>   
        </form>
        <button type="submit" class="btn btn-secondary mt-2" onclick="window.location.href='../../gastos/perfil'">Cancelar</button>  
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>  
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
</body>
</html> 
{% endblock %}